# macOS
.DS_Store
**/.DS_Store

# Entornos Python
**/.venv/
**/__pycache__/
*.pyc

# Variables sensibles
**/.env
*.env.local

# Logs locales
logs/
*.log

# Deploy artifacts
_deploy/

# Archivos de editor
*.swp
*.swo
.vscode/
