TICKETS_SECRET_KEY=cambia-este-secreto-local
FRONTEND_BASE_URL=http://127.0.0.1:8001
ALLOWED_ORIGINS=http://127.0.0.1:8001,http://localhost:8001,null
TICKET_ESCALATION_HOURS=48

# Cacti
CACTI_BASE_URL=http://45.184.225.4/cacti
CACTI_USERNAME=usuario-cacti
CACTI_PASSWORD=clave-cacti
